.container {
  display: flex;
  // flex-wrap: s;
  align-items: center;
  justify-content: space-around;
  background-color: #d3d3d3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 520px;
  width: 280px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 7px;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 7px;
  height: 530px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 50px;
  grid-template-rows: 130px 60px 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "screenHigh screenHigh screenHigh screenHigh"
    "screenLow screenLow screenLow screenLow"
    "clearop . . divop"
    "sevennum eightnum ninenum multiplyop"
    "fournum fivenum sixnum subtractop"
    "onenum twonum threenum addop"
    "zeronum . decimalnum equalsop";
}

.screenHigh {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
  grid-area: screenHigh;
  font-size: 50px;
  text-align: right;
  // background-color: #d3d3d3;
}

.screenLow {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  font-size: 30px;
  color: #dcdcdc;
  grid-area: screenLow;
  // background-color: #d3d3d3;
}

.number {
  background-color: white;
  color: black;
  border: none;
  font-weight: bolder;
  &__zero {
    grid-area: zeronum;
  }
  &__one {
    grid-area: onenum;
  }
  &__two {
    grid-area: twonum;
  }
  &__three {
    grid-area: threenum;
  }
  &__four {
    grid-area: fournum;
  }
  &__five {
    grid-area: fivenum;
  }
  &__six {
    grid-area: sixnum;
  }
  &__seven {
    grid-area: sevennum;
  }
  &__eight {
    grid-area: eightnum;
  }
  &__nine {
    grid-area: ninenum;
  }
  &__decimal {
    grid-area: decimalnum;
  }
}

.divide {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 40px;
  border: 1px solid #006ba6;
  border-radius: 6px;
  color: white;
  font-size: 25px;
  background-color: #006ba6;
  grid-area: divop;
}

.multiply {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 40px;
  border: 1px solid #0496ff;
  border-radius: 6px;
  color: white;
  font-size: 25px;
  background-color: #0496ff;
  grid-area: multiplyop;
}

.subtract {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 40px;
  border: 1px solid #ffbc42;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  background-color: #ffbc42;
  grid-area: subtractop;
}

.add {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 40px;
  border: 1px solid #d81159;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  background-color: #d81159;
  grid-area: addop;
}

.evaluate {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 40px;
  border: 1px solid #8f2d56;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  background-color: #8f2d56;
  grid-area: equalsop;
}

.clear {
  grid-area: clearop;
  background-color: white;
  color: black;
  border: none;
  font-weight: bolder;
}
